html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
}

.pageContent {
    grid-row: 1;
    height: 90vh;
    width: 100vw;
}

.bottomMenu {
    grid-row: 2;
    background-color: #999;
    height: 10vh;
    width: 100vw;
    position: fixed;
    top: 90vh;
}