.container {
    display: grid;
}

.map {
    grid-column: 1;
    height: 90vh;
    width: 90vw;
    z-index: 0;
}

.chart {
    position: fixed;
    height: 20vh;
    bottom: 15vh;
    width: 20vw;
    right: 12vw;
    padding: 1vh 1vw;
    background-color: #fff4;
    z-index: 1;
}

.chart:hover {
    height: 60vh;
    width: 60vw;
    background-color: #fffc;
}

.info {
    position: fixed;
    height: 10vh;
    bottom: 15vh;
    width: 12vw;
    left: 2vw;
    background-color: #fff4;
    z-index: 1;
}

.infoEntry {
    margin-top: 1vh;
    margin-left: 0.5vw;
    color: #222;
    width: 11vw;
    height: 3vh;
}

.messageBox {
    position: fixed;
    height: 5vh;
    top: 2vh;
    width: 22vw;
    right: 12vw;
    background-color: #fff4;
    z-index: 1;
}

.messageBoxEntry {
    margin-top: 1vh;
    margin-left: 0.5vw;
    color: #222;
    width: 19vw;
    height: 5vh;
    text-align: center;
}


.sideMenu {
    grid-column: 2;
    background-color: #333;
    height: 90vh;
    width: 10vw;
}

.storage {
    grid-row: 1;
    height: 40vh;
    width: 10vw;
}

.calculations {
    grid-row: 2;
    height: 40vh;
    width: 10vw;
}

.logout {
    grid-row: 3;
    height: 10vh;
    width: 10vw;
}

.sideMenuButton {
    position: relative;
    height: 5vh;
    margin-top: 2vh;
    width: 8vw;
    left: 1vw;
    background-color: #333;
    border: 1px solid #999;
    border-radius: 5%;
}

.sideMenuButton:hover {
    background-color: #222;
    color: #aaa;
}
