.container {
    display: grid;
}

.messageBox {
    grid-row: 1;
    height: 100vh;
    width: 100vw;
    background-color: #222;
}

.messageTitle {
    margin: 5vw 0vw 2vw 5vw;
    font-size: 3vh;
    font-weight: bold;
}

.messageContent {
    margin-left: 5vw;
    font-size: 2vh;
}